.CourseCard {
  background-color: aliceblue;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2em;
  border-style: inset;
  border-width: 3px;
  margin-bottom: 8px;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
  height: 50vh;
}

#information img {
  border: 4px solid rgba(6, 21, 34, 0.712);
  height: 15rem;
  width:15rem;
  border-radius: 100%;
}

#about {
  font-family: 'Libre Baskerville', serif;
  color: rgba(6, 21, 34, 0.712);
  padding: 3em;
}

#about #name {
  font-size: 3em;
}

#about a {
  color: rgba(6, 21, 34, 0.712);
  background-color: pink;
  padding: 0.5em 1em;
  border-radius: 0.5em;
  float: right;
  letter-spacing: 1.5px;
  margin-top: 2em;
  transition: 0.5s;
}

#about a:hover::before {
  content: ' Send Mail ';
}

#about p {
  margin: 1em 0;
}
