#form{
  display: flex;
  justify-content: center;
  background-color: #5CD895;
}

.form {
  /* min-height: 60vh; */
  width: 30vw;
  margin: 4em;
  /* top: 20vh; */
  /* left: 5vw; */
  border-radius: 0.5em;
  background-color: #05386B;
  /* position: absolute; */
  /* filter: blur(20px); */
  z-index: 5;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);

}
.form h2 {
  padding: 0.5em;
  color: #EDF5E1;
  letter-spacing: 0.5px;
  text-align: center;
  font-family: sans-serif;
}

.form input {
  display: block;
  margin: 1em;
  color: #EDF5E1;
  font-size: 1.5em;
  padding: 0.5em;
  background-color: #05386B;
  outline: none;
  border: none;
  border-bottom:1px solid #EDF5E1;
  font-family: sans-serif;
  width: 25vw;
}
.form input::placeholder{
  color: #EDF5E1;
}

.form textarea {
  display: block;
  margin: 1em;
  color: #EDF5E1;
  font-size: 1.5em;
  padding: 0.5em;
  background-color: #05386B;
  outline: none;
  border:1px solid #EDF5E1;
  font-family: sans-serif;
  width: auto;
  height: auto;
  border-radius: 10px;
  overflow:auto;
}

.form textarea::placeholder{
  color: #EDF5E1;
}