#prompt {
  /* min-height: 40vh; */
  min-width: 30vw;
  position: absolute;
  top: 20vh;
  left: 35vw;
  background-color: aliceblue;
  animation: prompt 1s 1;
  z-index: 10;
  border-radius: 0.5em;
  display: none;
}

#prompt h1{
    text-align: center;
    margin-bottom: 1em;
    color: rgb(100, 98, 98);
    padding-bottom: 0.5em;
    /* border-bottom: 2px solid ; */
    font-family: sans-serif;
    letter-spacing: 2px;
}

#message{
    padding: 2em;
    text-align: center;
    color: rgb(100, 98, 98);
    font-family: sans-serif;
    /* border: 2px solid ; */
}
#understood-btn{
    display: flex;
    justify-content: center;
}

@keyframes prompt {
  0% {
    top: 15vh;
    opacity: 0;
  }
  100% {
    top: 20vh;
    opacity: 1;
  }
}
