#profileImage img {
  height: 8vh;
  width: 8vh;
}
#profileImage {
  float: right;
  margin-right: 2vw;
  cursor: pointer;
  padding: 0;
}

#menu {
    background-color: rgba(240, 248, 255, 0.63);
    padding: 2em 0;
    width: 15vw;
    border-radius: 0.5em;
    position: absolute;
    top: 8vh;
    right: 3vw;
    display: none;
    animation: appear 0.5s  1 ;
}
#menu h3{
    padding: 0.5em 1em;
    margin: 0.5em;
    text-align: center;
    font-family: sans-serif;
    letter-spacing: 1.5px;
    color: rgb(100, 98, 98);
    font-size: 1em;
    transition: 0.5s;
    /* background-color: aliceblue; */
}
#menu h3:hover{
    background-color: aliceblue;
}


@keyframes appear{
    0%{
        top: 5vh;
        opacity: 0;
    }
    100%{
        top:8vh;
        opacity: 1;
    }
}