.CourseCard {
  background-color: #FEDC97;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  padding: 2em;
  border-style: inset;
  border-radius: 1rem;
  border-width: 3px;
  margin-bottom: 20px;
  box-shadow: 5px 5px 10px 0px rgba(189, 134, 17, 0.75);
  height: 50vh;
}

#information{
  display: flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
}

#information img {
  border: 4px solid rgba(6, 21, 34, 0.712);
  height: 15rem;
  width:15rem;
  border-radius: 100%;
}

#about {
  font-family: 'Libre Baskerville', serif;
  color: rgba(6, 21, 34, 0.712);
  padding: 3em;
}

#about #name {
  font-size: 3em;
}

#about a {
  color: #0F0E0E;
  background-color: #F4442E;
  padding: 0.5em 1em;
  border-radius: 0.5em;
  font-weight: bold;
  float: right;
  letter-spacing: 1.5px;
  margin-top: 2em;
  transition: 0.5s;
  transition:0.5s;
    font-family: 'Roboto Slab', serif;
}

#about a:hover{
    transform: translateY(-0.2rem);
    box-shadow: 0px 5px 10px 0px rgba(179, 36, 36, 0.75);
    -webkit-box-shadow: 0px 10px 22px 0px rgba(192, 40, 40, 0.75);
    -moz-box-shadow: 0px 10px 22px 0px rgba(184, 36, 36, 0.75);
}

/* #about a:hover::before {
  content: ' Send Mail ';
} */

#about p {
  margin: 1em 0;
}



#information a {
  color: #0F0E0E;
  background-color: #F4442E;
  padding: 0.5em 1em;
  border-radius: 0.5em;
  font-weight: bold;
  letter-spacing: 1.5px;
  transition: 0.5s;
  margin-top:2vh;
  transition:0.5s;
  font-family: 'Roboto Slab', serif;
}

#information a:hover{
    transform: translateY(-0.2rem);
    box-shadow: 0px 5px 10px 0px rgba(179, 36, 36, 0.75);
    -webkit-box-shadow: 0px 10px 22px 0px rgba(192, 40, 40, 0.75);
    -moz-box-shadow: 0px 10px 22px 0px rgba(184, 36, 36, 0.75);
}

/* #information a:hover::before {
  content: '  ';
} */

