* {
  padding: 0;
  margin: 0;
  /* overflow-y: hidden; */
}

/* img {
  background-size: cover;
  height: 100vh;
   filter: blur(20px); 
  width: 100vw;
  opacity: 0.8;
} */

a{
    text-decoration: none;
    color: black;
}

/* HOME .JS */
#welcome{
  background-color: #5CDB95;
}
#welcome h1{
  text-align: center;
  font-family: sans-serif;
  color: #EDF5E1;
  font-size: 4em;
  padding: 1em 1em 0 1em ;
  letter-spacing: 4px;
  font-weight: 900;
}

#welcome h2{
  text-align: center;
  padding: 1em;
  letter-spacing: 4px;
  font-family: sans-serif;
  font-weight: 900;
  color: #EDF5E1;
}

#home-btns{
  display: flex;
  justify-content:center ;
  padding-bottom: 10vh;
}

#logoImage{
  display: flex;
  justify-content: center;
  
}

#logoImage img{
  border-radius: 100%;
  z-index: 55;
  animation: rotate 5s infinite ease-in-out;
  cursor: pointer;
  box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.75);
-webkit-box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.75);
}

#warning
{
  text-align: center;
  font-family: sans-serif;
  font-weight: 900;
  color: rgb(255, 109, 109);
}



/* Profile */
#profile{
  display: flex;
  margin: 20vh 5vw;
  justify-content: center;
  /* background-color: #5CD895; */
  /* height: 70vh; */
}

#updateProfile{
  
  width: 50vw;
  border-radius: 0.5em;
  padding: 1em;
  background-color: #5CD895;
  /* border-right: 2px solid ; */
}
#current-profile{
  /* height: 70vh; */
  width: 30vw;
  border-radius: 0.5em;
  background-color: #5CD895;
}

#updateProfile form{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

#updateProfile form input{
  border: none;
  outline :none;
  border-radius: 0.5em;
  font-size: 1.5em;
  margin: 0.5em;
  padding: 0.5em;
}





@keyframes rotate{
  0%{
    transform: rotateZ(0deg);
  }
  100%{
    transform: rotateZ(360deg);
  }
}


/*-------------------------About Section Starts-----------------*/

.profileCard{
  border-radius: 10%;
  display: inline-block;
  align-items: center;
  margin-left: 30px;
  margin-right:50px;
  margin-bottom: 10vh;;
}

.About1{
  text-align: center;
  vertical-align:center;
  top:20vh;
  width: 100%;
  position: absolute;
}

.About1 h1{
  text-align: center;
  color: #fff;
  font-size: 50px;
  margin-bottom: 2vh;
}

.About1 h2{
  color: #fff;
  font-size: 30px;
}

.area{
  background: #05386B;  
  background: linear-gradient(270deg,#92bcf3, #325e88, #0d3d6d);
  width: 100%;
  height:70vh;
  margin-bottom: 10vh;
 
}

.circles{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 70%;
  overflow: hidden;
}

.circles li{
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.2);
  animation: animate 25s linear infinite;
  bottom: -150px;
}

.circles li:nth-child(1){
  left: 25%;
  width: 80px;
  height: 70px;
  animation-delay: 0s;
}


.circles li:nth-child(2){
  left: 10%;
  width: 40px;
  height: 40px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles li:nth-child(3){
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.circles li:nth-child(4){
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circles li:nth-child(5){
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.circles li:nth-child(6){
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}

.circles li:nth-child(7){
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}

.circles li:nth-child(8){
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}

.circles li:nth-child(9){
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.circles li:nth-child(10){
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}



@keyframes animate {

  0%{
      transform: translateY(0) rotate(0deg);
      opacity: 1;
      border-radius: 0;
  }

  100%{
      transform: translateY(-1000px) rotate(720deg);
      opacity: 0;
      border-radius: 50%;
  }

}

.top {
  border-radius: 1em 1em 0 0;
  height: 130px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
}

.name {
  font-size: 2em;
  color: #2d3436;
  display: flex;
  flex: 1;
  margin: 10% 20px 0;
}

.card img {
  margin: 50px 20px 0 0;
}

.circle-img {
  border-radius: 50%;
  border: 7px solid #fff;
  width: 120px;
  height: 120px;
}

.bottom {
  margin-top: 30vh;
  text-align: left;
  margin-left: 4vh;
}

.bottom ul{
  line-height:5vh;
  font-weight: bold;
}

.info {
  margin: 20px 0;
  color: #1a7e76;
}




/*-------------------------About Section Ends-----------------*/


/*----------------------Teacher Section Starts--------------*/

.teacher{
  font-family: "Montserrat", sans-serif;
  background: linear-gradient(270deg, #ffead1, #ffb6bd, #e0b5ff);
  background-size: 150% 150%;
  animation: backgroundAnimation 10s ease infinite;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.profile {
  animation: loadProfile 0.6s ease-in-out;
  animation-fill-mode: both;
  font-size: 0.9rem;
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: 5vh;
  margin-top:14vh;
  transition: 0.5s;
}

.profile-bg {
  position: absolute;
  bottom: 0;
  right: 0;
  border-radius: 10px;
  background: white;
  box-shadow: 0 30px 50px -20px rgba(14, 0, 47, 0.21);
  width: calc(100% - 75px);
  height: calc(100% - 110px);
  z-index: -1;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  width: 100%;
} 

.profile-image {
  animation: loadProfileImage 1s ease-in-out 0.5s;
  animation-fill-mode: both;
  position: relative;
  border-radius: 10px;
  box-shadow: 0 25px 45px -20px rgba(255, 0, 47, 0.55),
    inset 0 0px 120px rgba(255, 0, 47, 0.75);
  width: 45%;
  flex: none;
  background-image: url("https://zephyo.github.io/22Days/code/3/graphics/profile.png");
  background-size: cover;
  background-position: center;
}

.profile-image::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background-color: #ff2256;
  opacity: 0.8;
  mix-blend-mode: screen;
}

.camera {
  color: #FFFF;
  position: absolute;
  bottom: 28px;
  left: 28px;
  font-size: 1.3rem;
}

.profile-info {
  margin-top: 120px;
  padding: 8% 8% 2% 8%;
  position: relative;
}

.profile-info h1 {
  font-size: 3rem;
  font-weight: 800;
  margin: 0.7rem;
  position: absolute;
  animation-fill-mode: both;
}

h1.first-name {
  animation: titleEffect 1s cubic-bezier(0,0.2,0.4,1);
  top: -100px;
} 

.profile-info h2 {
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 0.2rem;
  margin-top: 0;
  margin-bottom: 5%;
}

.social-media-icons a,
.profile-info h2 {
  color: #f63d47;
}

.profile-info p {
  line-height: 1.5rem;
  width:70vh;
  word-wrap: break-word;
  font-style: italic;
  overflow:hidden;
}

.social-media-icons {
  display: flex;
}

.social-media-icons a {
  margin-top: 7%;
  font-size: 1.2rem;
  flex: auto;
  text-align: center;
}

.camera,
.social-media-icons a {
  transition: text-shadow 0.5s ease;
}

.camera:hover,
.social-media-icons a:hover {
  text-shadow: 0px 5px 15px rgba(255, 0, 47, 0.45);
}

.skills {
  margin-right: 10px;
  margin-left: 10px;
  line-height: 1rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
}

.skills a{
  margin-top:7vh;
  margin-bottom: 3%;
  flex: auto;
  margin-left: 10vw;
  color: #f63d47;
  transition: 0.5s;
  border-radius: 0.5rem;
}

.skills a strong {
  font-size: 1.4rem;
  color: #000;
  font-weight: 2em;
  margin-right: 0.3rem;
  transition: 0.5s;
  border-radius: 0.5rem;
}

.skills a:hover{
  background-color: #f63d47;
  padding:0.5rem;
  
}

.icon {
  background: transparent no-repeat center;
  background-size: contain;
  background-origin: content-box;
  width: 60px;
  height: 60px;
  padding: 15px;
  border: none;
  transition: transform 0.5s ease;
}

.icon:hover {
  transform: scale(0.9);
}

.arrow {
  flex: 0 1 75px;
  background-image: url("https://zephyo.github.io/22Days/code/3/graphics/arrow.svg");
}

.right {
  transform: rotate(180deg);
}

.right:hover {
  transform: scale(0.9) rotate(180deg);
}

.close {
  background-image: url("https://zephyo.github.io/22Days/code/3/graphics/close.svg");
  position: absolute;
  top: 5px;
  right: 10px;
}

@media only screen and (max-aspect-ratio: 4/7) and (max-width: 600px) {
  .profile {
    margin: 3%;
    height: 97%;
  }
  .container {
    height: 86%;
    flex-direction: column;
  }
  .profile-image {
    height: 40%;
    width: calc(100% - 90px);
  }
  .profile-bg {
    width: 100%;
  }
  h1.first-name {
    left: 10px;
  }
  h1.second-name {
    left: 60px;
  }
}

@media screen and (min-aspect-ratio: 4/7) {
  .profile {
    margin-left: 10%;
    margin-right: 10%;
  }
}

@keyframes backgroundAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes loadProfile {
 from{
    transform: translateY(100px);
    opacity: 0;
  }
 to {
     transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes loadProfileImage {
  from {
    transform: translateY(50px);
    opacity: 0;
  }
 to {
     transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes titleEffect {
 from {
   opacity:0;
     transform: translateX(-75px);
  }
  to {
     transform: translateX(0px);
    opacity: 1;
  }
}


/* Student OR Teacher SignUp Route  stsrts here*/

.Choice{
  text-align:center;
  font-family: "Montserrat", sans-serif;
  background: linear-gradient(270deg, #ffead1, #ffb6bd, #e0b5ff);
  
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.SignUp_Choice{
  display:inline-block;
  margin: 50px;
  margin-top: 150px;
}

.SignUp_Choice_Image{
  border-radius:40%;
  display: block;
}


/* Explore Section Started  */

.explore_base{
  justify-content: center;
  background-color: #FDFEFF;
  margin:5vh;
}

.SearchCourse{
  margin-top: 60px;
  text-align: center;
}

.SearchBar{
  font-family: "Montserrat", sans-serif;
  height:5vh;
  width: 30%;
  border-style: outset;
  border-width: 4px;
  border-color: #1a7e76;
  color: #1a7e76;
  text-align: center;
  font-weight: bold;
}



/* Login Section Starts */

#usertype{
  display: flex;
  justify-content:center;
  margin-bottom: 20px;
  margin-top:20px;
}

.label1{
  display: flex;
  font-size:1em;
  color: #fff;
  flex-direction:column-reverse;
  justify-content: center;
  align-items:center;
  width: 150px;
}